body {
    font: 20px arial, 'sans-serif';
    scroll-behavior: smooth;
}


.navbar {
    background-color: rgb(255, 136, 136) !important;
}

.races {
    background-color: rgb(156, 156, 156);
}

.margin {
    padding: 2rem 1rem;
}

.text {
    margin: 0.75rem 0;
    color: #FDF6F0;
}

#standings {
    background-color: #58Faf4;
}

.bg-footer {
    background-color: black;
    color: #AAA;
}